.header {
  background-color: rgba(28, 28, 33, 1);
}

.container {
  padding: 16px 0;
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
